@model PlovdivTournament.Web.Models.HomeViewModel
@{
	ViewBag.Title = "Home";
	Layout = "~/Views/Shared/Site_Layout.cshtml";
}

<div id="PlovdivImg">
	<img src="~/Resources/imgs/Plovdiv.png" alt="LOGO" />
</div>
<div id="WhenWhere">
	<div id="When">
		<h2>КОГА ?</h2>
		<p><span>Пловдив древен и вечен</span> ще се проведе през Ноември месец между 7 и 9.</p>
	</div>
	<div id="Where">
		<h2>КЪДЕ ?</h2>
		<div class="clearfix"></div>
		<p><span>Синдикален дом </span> Пловдив ул.Гладстоун 15.</p>
	</div>
	<div class="clearfix"></div>
	<div id="FastReg">
		<p>Регистрирай се <a href="#">ТУК</a></p>
	</div>
	<div class="clearfix"></div>
</div>
<div id="Partners">
	<h3>Партньори</h3>
	<div id="PartnerImg">
		<img src="~/Resources/imgs/Partners.png" alt="LOGO" />
		<img src="~/Resources/imgs/Partners.png" alt="LOGO" />
		<img src="~/Resources/imgs/Partners.png" alt="LOGO" />
		<img src="~/Resources/imgs/Partners.png" alt="LOGO" />
		<img src="~/Resources/imgs/Partners.png" alt="LOGO" />
	</div>
</div>