@model PlovdivTournament.Web.Manage.Models.GalleryViewModel
@using PlovdivTournament.Web.Manage.Library.Helpers;
@{
    ViewBag.Title = "UploadPhoto";
    Layout = "~/Areas/Manage/Views/Shared/Admin_Layout.cshtml";
}

<div id="UploadPhotoWrap">
    @using (Html.BeginForm("UploadPhoto", "Gallery", FormMethod.Post, new { enctype = "multipart/form-data", id = "UploadPhoto-form" }))
    {
        <p>
            <input type="file" id="fileUpload" name="Photo" size="23" />
        </p>
        <p>
            Caption: @Html.TextBoxFor(x => x.PhotoTitle)
        </p>
        <p>
            Category: @Html.DropDownListFor(x => x.PhotoCategory, SelectListHelper.GetCategories(Model.PhotoCategory))
        </p>
        <p>Description: </p>
        @Html.TextAreaFor(x => x.PhotoDescription)

        <p>
            <a href="#" onclick="get_form(this).submit(); return false">Upload</a>
        </p>
        <div class="clearfix">
        </div> 
    }
</div>	
<div class="clearfix"></div>