@model PlovdivTournament.Web.Models.EditClubViewModel

@{
    ViewBag.Title = "Club";
    Layout = "~/Views/Shared/Site_Layout.cshtml";
}

<div id="Change_Club_Wrap">   
    @using (Html.BeginForm("Save", "Club", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <fieldset>
            
                       
            <p> <label>Name:</label> <input name="ClubName" type="textarea" value="@Model.ClubName" /> </p>

            
                       
            <p> <label>Info:</label> <textarea class ="ChangeArea" name="Info"  >@Model.Info </textarea> </p>
            
            

            <p><a class="RegButton" href="#" onclick="get_form(this).submit(); return false">Save</a></p>
            <div class="clearfix"></div>
        </fieldset>
    }
    <div class="MembersWrap">
         @Html.Partial("MembersPartialView")
    </div>
</div>	
<div class="clearfix"></div>