#Menu {
	display: table;
	margin: 0 auto;
}
#Menu ul {
	list-style-type:none;
}
#Menu li {
	
	margin:10px 10px 0px 0px;
	list-style-type:none;
	float:left;
	}	
#Menu li a {
	font-family:'Roboto';
	font-size: 20px;
	text-decoration:none;
	color:#000;
	
}
#Menu li a:hover {
	color:#e41f3a;
}