<div id="login">
    @if (!Model.UserIsAuthenticated)
    {
        using (Html.BeginForm("Login", "Home", FormMethod.Post))
        { 
            @Html.ValidationSummary(true)
            @Html.TextBox("LoginEmail", "", new { placeholder = "Email" })
            @Html.Password("LoginPassword", "", new { placeholder = "Password" })
            <div class="LoginButtons">
                <a href="#" id="loginButton" onclick="get_form(this).submit(); return false">Login </a>
                <span>/ </span>
                <a href="/Registration">Register</a>
            </div>
        }
    }
    else
    { 
        <div>
            <a href="/Home/Logout">Logout</a>
        </div>
    }
</div>