<div id="login">
    @if (!Model.UserIsAuthenticated)
    {
        using (Html.BeginForm("Login", "Home", FormMethod.Post))
        { 
            @Html.ValidationSummary(true)
            @Html.TextBox("LoginEmail", "", new { placeholder = "Email" })
            @Html.Password("LoginPassword", "", new { placeholder = "Password" })
            <a href="#" onclick="get_form(this).submit(); return false">Login </a> 
            <span>/ </span> 
            <a href="/Registration">Register</a>
        }
    }
    else
    { 
        <a href="/Home/Logout">Logout</a>
    }
</div>
