@model PlovdivTournament.Web.Models.EditProfileViewModel

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/Site_Layout.cshtml";
}

<div id="Change_Password_Wrap">              
    @using (Html.BeginForm("ChangePassword", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <fieldset>
            <legend>Change Password</legend>
            <p><label>Old Password :</label><input name="OldPassword" type="password"/></p>
            <p><label>New Password :</label><input name="NewPassword" type="password"/></p>
            <p><label>Repeat password :</label><input name="RepeatPassword" type="password"/></p>

            <p><a href="#" onclick="get_form(this).submit(); return false">Save</a></p>
            <div class="clearfix"></div>
        </fieldset>
    }
</div>	