@model PlovdivTournament.Web.Models.EditProfileViewModel

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/Site_Layout.cshtml";
}

<div id="Change_Password_Wrap">              
    @using (Html.BeginForm("ChangePassword", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <fieldset>
            <legend>Промени паролата</legend>
            <p><label>Стара парола: </label><input name="OldPassword" type="password"/></p>
            <p><label>Нова парола: </label><input name="NewPassword" type="password"/></p>
            <p><label>Повтори паролата: </label><input name="RepeatPassword" type="password"/></p>

            <p><a class="RegButton" href="#" onclick="get_form(this).submit(); return false">Запази</a></p>
            <div class="clearfix"></div>
        </fieldset>
    }
</div>	
<div class="clearfix"></div>