@model PlovdivTournament.Web.Models.EditProfileViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/Site_Layout.cshtml";
}


<div id="Change_Profile_Wrap">              
    @using (Html.BeginForm("Save", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <fieldset>
            <legend>Change Password</legend>
            <p> <label>Old Password :</label> <input name="OldPassword" type="textarea"  /> </p>
            <p><label>New Password :</label> <input name="NewPassword" type="textarea"   /> </p>
            <p><label>Repeat password :</label> <input name="RepeatPassword" type="textarea" /> </p>
                       
            <legend>Change Email</legend>
                       
            <p> <label>Email :</label> <input name="Email" type="textarea" value=@Model.Email /> </p>

            <legend>Change Phone</legend>
                       
            <p> <label>Phone :</label> <input name="Email" type="textarea" value=@Model.Phone /> </p>

            <legend>Change Fax</legend>
                       
            <p> <label>Fax :</label> <input name="Email" type="textarea" value=@Model.Fax /> </p>

            <legend>Change Avatar</legend>

            <div class="Change_Avatar">
                <p><strong><input type="file"  name="NewAvatar" size="23" /></strong></p>
                           
                <div class="clearfix"></div>
            </div>

            <p>  @Html.ValidationMessage("invPass")</p>
            <p> @Html.ValidationMessageFor(x => x.RepeatPassword)</p>
            <p> @Html.ValidationMessageFor(x=>x.Email)</p>
        
            <p><a href="#" onclick="get_form(this).submit(); return false">Save</a></p>
            <div class="clearfix"></div>
        </fieldset>
    }
</div>	