@model PlovdivTournament.Web.Models.GalleryViewModel

<ul>
    <li><a href=@Model.ReplaceOrAddToUrl("category", "")>All</a></li>
    <li><a href=@Model.ReplaceOrAddToUrl("category", "Animals")>Animals</a></li>
    <li><a href=@Model.ReplaceOrAddToUrl("category", "Art")>Art</a></li>
    <li><a href=@Model.ReplaceOrAddToUrl("category", "Nature")>Nature</a></li>
    <li><a href=@Model.ReplaceOrAddToUrl("category", "Charity")>Charity</a></li>
    <li><a href=@Model.ReplaceOrAddToUrl("category", "City")>City</a></li>
    <li><a href=@Model.ReplaceOrAddToUrl("category", "Computer")>Computer</a></li>
    <li><a href=@Model.ReplaceOrAddToUrl("category", "Cute")>Cute</a></li>
</ul>