<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
     <!--   <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
        <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />-->
    </configSections>
    <connectionStrings>
        <add name="master" providerName="System.Data.SqlClient" connectionString="{connection string}"/>
    </connectionStrings>
 

    <appSettings>
       <add key="providerName" value="System.Data.SqlClient"/>
       <add key="Hostname" value="tango.rdb.superhosting.bg"/>
       <add key="Username" value="samodiva_TurnamentDB"/>
       <add key="Password" value="C~WcB8AuPV4"/>
       <add key="DatabaseName" value="samodiva_TurnamentDB"/>
    </appSettings>
	
       
    <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
        <session-factory>
            <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
            <property name="connection.connection_string_name">dbConnection</property>
            <property name="adonet.batch_size">50</property>
            <property name="show_sql">true</property>
            <property name="format_sql">true</property>
            <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
            <property name="command_timeout">60</property>
            <property name="query.substitutions">true 1, false 0, yes 'Y', no 'N'</property>
            <property name="connection.isolation">ReadCommitted</property>
            <property name="generate_statistics">true</property>

            <property name="cache.use_second_level_cache">false</property>
            <property name="cache.use_query_cache">false</property>
            <property name="cache.provider_class">NHibernate.Cache.HashtableCacheProvider</property>
        </session-factory>
    </hibernate-configuration>
    
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

</configuration>
